In [3]:
import matplotlib.pyplot as plt
import pandas as pd
from pathlib import Path

In [6]:
data = Path('compensation_experience')
df = pd.read_csv(data)
df

,totalyearlycompensation,basesalary,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,yearsofexperience,yearsatcompany
0,127000,107000.0,0,0,0,0,0,1.5,1.5
1,100000,0.0,0,0,0,0,0,5.0,3.0
2,310000,155000.0,0,0,0,0,0,8.0,0.0
3,372000,157000.0,0,0,0,0,0,7.0,5.0
4,157000,0.0,0,0,0,0,0,5.0,3.0
...,...,...,...,...,...,...,...,...,...
62637,327000,155000.0,0,0,0,0,0,10.0,1.0
62638,237000,146900.0,0,0,0,0,0,2.0,2.0
62639,220000,157000.0,0,0,0,0,0,14.0,12.0
62640,280000,194688.0,0,0,0,0,0,8.0,4.0
62641,200000,155000.0,0,0,0,0,0,0.0,0.0

In [9]:
#try to do regression of experience years and salary first. drop education columns. drop base salary to start.
df.columns

Index(['totalyearlycompensation', 'basesalary', 'Masters_Degree',
       'Bachelors_Degree', 'Doctorate_Degree', 'Highschool', 'Some_College',
       'yearsofexperience', 'yearsatcompany'],
      dtype='object')

In [10]:
#separate features from the target
y = df["totalyearlycompensation"]
X = df.drop(columns=['basesalary', 'Masters_Degree',
       'Bachelors_Degree', 'Doctorate_Degree', 'Highschool', 'Some_College'])

In [ ]:
# Separate the data into labels and features
y = df["totalyearlycompensation"]
#y_labels = ["0 - healthy loan", "1 - high risk loan"]

# Separate the y variable, the labels
# YOUR CODE HERE!]

# Separate the X variable, the features
X = df_lending_data.drop("loan_status", axis=1)
feature_names = X.columns

In [11]:
#split into training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.